:root {
    --blue: #3A4759;
    --green: #BDCCC7;
    --green-dark: #010B0D;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 110vh;
}
/* img{
    width:100%;
} */
.w-auto{
    width:auto!important;
}
@media (min-width: 768px) {
    .w-md-100 {
       width:100% !important;
    }
    .w-md-50 {
       width:50% !important;
    }
    .w-md-30 {
        width:30% !important;
     }
  }


body::-webkit-scrollbar {
    width: 0.6em;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: var(--blue);
    
  }


iframe {
    background-color: var(--green);
}

*::-moz-selection {
    background-color: var(--green);
}

*::selection {
    background-color: var(--green);
}

.btn-blue {
    color: white;
    background-color: var(--blue);
}

@font-face {
    font-family: "moha";
    font-display: block;
    src: url(../font/moha.ttf);
}

.pointer {
    cursor: pointer;
}
.px-15{
    padding-right: 15vw;
    padding-left: 15vw;
}
.nav-full{
    z-index: 1000;
    display: none;
}
.z-10 {
    z-index: 10 !important;
}

.mt-12 {
    margin-top: 12vh;
}

a:hover {
    text-decoration: none;
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    float: right;
}

.custom-select {
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat left 0.75rem center/8px 10px !important;
}

.dataTables_filter {
    padding: 0;
    float: left !important;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 60px;
    margin-right: 0.5em;
    margin-left: 0.5em;

}

div.dataTables_wrapper div.dataTables_filter input {
    margin-right: 0.5em;
    margin-left: 0 !important;
    display: inline-block;
    width: auto;
}

.page-item.active .page-link {
    background-color: #23272B !important;
    border-color: #23272B !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: none !important;
    background: transparent !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 !important;
}

.page-item.disabled .page-link {
    border-radius: 0 !important;
}

.ltr {
    direction: ltr !important;
}

.dropdown-menu {
    border-radius: 0 !important;
}

input[type=text],
input[type=number],
input[type=password],
input[type=search],
select,
textarea {
    border-radius: 0 !important;
}

* {
    font-family: moha;
}

.text-blue {
    color: var(--blue) !important;
}

.text-green-dark {
    color: var(--green-dark) !important;
}

.bg-blue {
    background-color: var(--blue) !important;
}

.bg-green {
    background-color: var(--green) !important;
}

#hero {
    height: calc(50vh + 40px);
}

#hero .title {
    white-space: pre;
}

#icons {
    height: calc(50vh);
}


.member .content .title {
    font-size: 5vw;
}

main {
    position: absolute;
    width: 100%;
}


.nav-item:first-of-type {
    padding-right: 0;
}

.map {
    height: 50vh;
}

#logo {
    width: 32vh;
    padding-top: calc(6vh + 10px);
    display: block;
    margin: auto;
    padding-bottom: 2vh;
}
.desktop-navbar-logo{
    height:50px;
    margin-top:8px;
}

.nav-item {
    padding: 20px;
    /* padding-top: 60px; */
}

.nav-item.active {
    background-color: var(--blue);
}

.nav-item.active a {
    color: white !important;
}

.nav-item a {
    color: var(--blue) !important;
}

#teammate .background {
    background-color: var(--green);
    height: 25vh;
    position: absolute;
    width:100%;
    right: 0;
    top:5vh;
}
.silde-show{
    height: 35vh;
}
.js-team-slide {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    width: 55vw;

}

.js-team-slide.selected {
    display: flex;
}

.slide-text {
    top: 0;
    bottom: 0;
    margin: auto;
    transform: translate(0, 25%);
}

.qoute {
    background-color: var(--green);
    color: var(--blue);
    font-weight: bold;
    text-align: center;
    padding: 3vw 3vw 0vw 3vw;
    position: relative;
}



@media (min-width: 992px) {
    .qoute::before {
        content: '';
        position: absolute;
        top: 2vw;
        right: 2vw;
        width: 3vw;
        height: 2.5vw;
        background-size: cover;
        background-image: url(../svg/quotedown.svg);
        background-repeat: no-repeat;
    }

    .qoute::after {
        content: '';
        position: absolute;
        bottom: 2vw;
        left: 2vw;
        width: 3vw;
        height: 2.5vw;
        background-size: cover;

        background-image: url(../svg/quoteup.svg);
        background-repeat: no-repeat;
    }
}

#blog .picture{
    width: 100%; /* width of container */
    height: 300px; /* height of container */
    object-fit: cover;
    transition: all 1s;

}
.btn-blue:hover{
color:var(--blue);
box-shadow:inset 0px 0px 0px 2px var(--blue);
background: white;
}